.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
}

li {
  list-style-type: none;
}

.logoContainer{
  display: flex;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.logoName {
  color: white;
  font-weight: bold;
  padding-top: 9px;
  margin-right: -10px;
}

.logoName2{
  color: white;
  font-weight: bold;
  padding-top: 9px;
  margin-left: -10px;
}

.navbarContainer{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  background-color: rgb(82, 194, 187);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  padding: 0;
}

.menu-icon {
  display: none;
  z-index: 3;
}

.dropdown-menu-close-icon {
  display: flex;
  justify-content: flex-end;
}


@media  (min-width: 640px) {
  .dropdown {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}

@media (max-width: 640px) {
  .navbarLinks {
    display: none;
  }
  .navbar {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: .5em;
  }

}

.dropdown {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  border-radius: 20em;
}

.dropdown-container-closed {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 5rem;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.696); 
  animation: dropdown-scroll-out 200ms ease-out;
}

@keyframes dropdown-scroll-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes dropdown-scroll-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

.dropdown-container-active {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 5rem;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.696); 
  animation: dropdown-scroll-in 200ms ease-out;
}


.dropdown > li {
  display: flex;
  padding: .25em .5em;
  width: 10em;
  align-items: center;
}

.dropdown-link {
  text-decoration: none;
  color: black;
}

.searchBar{
  height: 40px;
  width: 50%;
  border: solid 1px rgb(104, 182, 188);
  border-radius: 10px;
  padding: 10px;
}

.navbar{
  display: flex;
  position: relative;
  flex-direction: row;
  width:max-content;
  margin: 0;
  list-style: none;
}

.navbarLinks{
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

.navbarLinks:hover{
  text-decoration: underline solid 1.5px rgb(104, 182, 188);
}

.registerTitle{
  font-weight: bold;
}


.loginpage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.loginHeaders{
  font-weight: bolder;
  font-size: small;
}

.loginInput{
  height: 30px;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 5px;
  font-size: 15px;
}

.registerForm{
  display: flex;
  flex-direction: column;
}

.passwordLength{
  font-size: small;
}

.loginButton{
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border: 2px solid white;
  background-color: rgb(104, 182, 188);
  color: white;
}

.loginButton:hover{
  border: 2px solid rgb(104, 182, 188);
  color: rgb(134, 134, 134);
  background-color: white;
}


.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  width: 500px;
  height: 500px;
  justify-content: center;
  color: rgb(104, 182, 188)
  
}

.registerLink{
  font-size: small;
  text-decoration: underline;
  margin-top: 40px;
}

.productsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.singleProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  margin: 10px;
  color: rgb(75, 132, 136);
}

.picBorder{
  box-shadow: 0 0 4px rgb(75, 132, 136);
}

.productPrice{
  margin-top: -10px;
}
.productButtonsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productButtons{
  border-radius: 20%;
  padding: 10px;
  margin: 10px;
  border: solid 2px rgb(104, 182, 188);
  font-size: small;
}

.addToCartButton{
  border-radius: 20px;
  background-color: rgb(104, 182, 188);
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 13px;
  height: 35px;
  border: 2px solid rgb(155, 220, 226);
}

.addToCartButton:hover{
  border-radius: 20px;
  background-color: white;
  color: rgb(104, 182, 188);
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 13px;
  height: 35px;
  border: 2px solid rgb(155, 220, 226);
}

.cartContainer{
  background-color:#FFF;
  padding: 20px;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  width: 1000px;
}

.emailInput{
  margin-right: 10px;
  margin-left: 5px;
}

.checkoutContainer{
  background-color:#FFF;
  padding: 20px;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  width: 1000px;
  margin-bottom: 60px;
}

.cartHeaders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 135px;
  border-bottom: solid 1px rgb(104, 182, 188);
}

.cartHeader{
  font-weight: bold;
  color: rgb(104, 182, 188);
}

.emptyCart{
  color: rgb(75, 132, 136);
  text-align: center;
  font-weight: bold;
}

.orderDetailsHeader{
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: underline;
}

.checkoutInput{
  margin-right: 10px;
  margin-left: 5px;
}

.nameAndPhoto{
  display: flex;
  align-items: center;
}

.cartProducts {
  display: flex;
  flex-direction:column;
  margin-bottom: 20px;
  padding: 18px;
}

.singularCartProduct{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: solid 1px rgb(104, 182, 188);
  align-items: center;
  padding-bottom: 18px;
}
.cartProductName {
  margin-left: 5px;
  width: 150px;
  color: rgb(98, 98, 98);
  font-size: 18px;
}

.productName{
  margin-top: 12px;
  font-weight: bold;
  font-size: large;
  color: rgb(104, 182, 188)
}

.productPrice{
  margin-top: 12px;
  font-weight: bold;
  font-size: 18px;
}

.cartProductPrice {
  color: rgb(98, 98, 98);
  margin-left: 180px;
}

.cartTotal{
  text-align: right;
  margin-top: 20px;
}

.productQuantity{
  border-radius: 25px;
  border-color: rgb(75, 132, 136);
  width: 10%;
  height: 10%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color:rgb(98, 98, 98);
}

.cartButtons{
  display: flex;
  justify-content: right;
  padding-bottom: 12px;
}

.cartButton{
  margin-left: 8px;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  background-color: rgb(104, 182, 188);
  color: white;
  
}

.cartButton:hover{
  background-color: rgba(104, 182, 188, 0.389);
  border: 2px solid rgb(104, 182, 188);
  color: rgb(134, 134, 134);
  background-color: white;
}

.cartDeleteButton{
  color: rgb(98, 98, 98);
}

.cartDeleteButton:hover{
  border: 1px solid rgb(98, 98, 98);
  border-radius: 5px;
  padding: 2px;
}

.pricePerQuantity{
  font-size: 13px;
}

.inCartLabel{
  margin-top: 12px;
  color: rgb(104, 182, 188);
  border: 2px solid rgb(104, 182, 188);
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 50px;
}

.adminHeader{
  color: rgb(104, 182, 188);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.addStickerTitle {
  color: rgb(104, 182, 188);
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgb(104, 182, 188);
  padding: 12px;
  border-radius: 12px;
  margin-top: 15px;
}

.addStickerTitle:hover {
  color:white;
  background-color: rgb(104, 182, 188);
}

.contactTitle {
  color: rgb(104, 182, 188);
  font-weight: bold;
}

.usersTitle {
  color: rgb(104, 182, 188);
  margin-top: auto;
  font-weight: bold;
}

.adminUserContainer{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.allOrderContainer{
  border: 2px solid rgba(104, 182, 188, 0.636);
  padding: 25px;
}

.singleOrderContainer{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(104, 182, 188);
  padding: 35px;
  margin-bottom: 20px;
}

.orderProductImgName{
  display: flex;
  align-items: center;
  width: 300px;
}

.orderImgNameQuantityPrice{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px rgb(104, 182, 188);
  margin-bottom: 20px;
}

.orderProductName{
  margin-left: 12px;
}

.orderProductPrice{
  margin-right: 18px;
}

.orderProductQuantity{
  margin-right: 230px;
}

.orderHeaders{
  font-weight: bold;
  color: rgb(104, 182, 188);
  font-size: 20px;
}

.orderTotal{
  text-align: right;
  margin-right: 18px;
}

.shippingAndPaymentDiv{
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 20px;
}

.shippingHeader{
  margin-bottom: 12px;
  color: rgb(104, 182, 188);
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}