.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Verdana, sans-serif;
}

li {
  list-style-type: none;
}

.logoContainer{
  display: flex;
  cursor: pointer;
}

.mainContainer{
  min-height: 100%;
}

body {
  height: 100dvh;
}

.body-scroll {
  overflow: hidden;
}


.mainContainer h1 {
  display: flex;
  justify-content: center;
  color: rgb(104, 182, 188);
  font-weight: bold;
  margin: 20px;
}

.logoName {
  color: white;
  font-weight: bold;
  padding-top: 9px;
  margin-right: -10px;
}

.logoName2{
  color: white;
  font-weight: bold;
  padding-top: 9px;
  margin-left: -10px;
}

.navbarContainer{
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  background-color: rgb(82, 194, 187);
  padding: 1.25em;
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  padding: 0;
}

.menu-icon {
  display: none;
  z-index: 3;
}

.dropdown-menu-close-icon {
  display: flex;
  justify-content: flex-end;
}


@media  (min-width: 640px) {
  .dropdown {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}

@media (max-width: 640px) {
  .navbarLinks {
    display: none;
  }
  .navbar {
    display: none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: .5em;
  }

  .shippingForm {
    padding: 2em;
  }

}

.dropdown {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  padding: 0px;
  border-radius: 20em;
}

.dropdown-container-closed {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 5rem;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.696); 
  animation: dropdown-scroll-out 200ms ease-in-out;
}

@keyframes dropdown-scroll-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes dropdown-scroll-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

.dropdown-container-active {
  margin-top: 0;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 5rem;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(255, 255, 255); 
  animation: dropdown-scroll-in 200ms ease-in-out;
}

.dropdown-link {
  display: flex;
  border: 2px solid rgb(104, 182, 188);
  margin-bottom: 1em;
  justify-content: center;
  padding: .25em .5em;
  width: 100%;
  align-items: center;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);;
  color: rgb(104, 182, 188);
  font-weight: bold;
  text-decoration: none;
}

.dropdown-link:active {
  transform: scale(.95);
  color: rgb(104, 182, 188);
  transform: translateY(5px);
  transition: 100ms;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.dropdown-link:hover {
  color: rgb(104, 182, 188)
}

.searchBar{
  margin-bottom: .5em;
  padding: .5em;
  margin-top: 2em;
  border: 1px solid rgb(104, 182, 188);
  outline: none;
  border-radius: 10px;
  transition: 150ms;
  min-width: 50dvw;
}

.searchBar:focus {
  border: 3px solid rgb(93, 189, 196);
  padding: .75em;
}

.navbar{
  display: flex;
  flex-direction: row;
  width:max-content;
  margin: 0;
  list-style: none;
}

.navbarLinks{
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

.navbarLinks:hover{
  color: rgb(51, 151, 157);
  transition: 350ms;
}

.registerTitle{
  font-weight: bold;
}

.loginpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.loginHeaders{
  font-weight: bolder;
  font-size: small;
}

.message-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.loginInput{
  margin-bottom: .5em;
  padding: .5em;
  border: 1px solid rgb(104, 182, 188);
  outline: none;
  border-radius: 10px;
  transition: 150ms;
}
.loginInput:focus {
  border: 3px solid rgb(93, 189, 196);
  padding: .75em;
}

.registerForm{
  display: flex;
  flex-direction: column;
}

.passwordLength{
  font-size: small;
}

.loginButton{
  border-radius: 25px;
  padding: 10px 25px;
  margin-bottom: 10px;
  border: 2px solid white;
  background-color: rgb(104, 182, 188);
  color: white;
}

.loginButton:hover{
  border: 2px solid rgb(104, 182, 188);
  color: rgb(134, 134, 134);
  background-color: white;
  transition: 350ms;
}


.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  width: 500px;
  height: 500px;
  justify-content: center;
  color: rgb(104, 182, 188)
  
}

.registerLink{
  font-size: small;
  text-decoration: underline;
  margin-top: 40px;
}

.productsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.singleProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  margin: 10px;
  color: rgb(75, 132, 136);
}

.picBorder{
  box-shadow: 0 0 4px rgb(75, 132, 136);
}

.productPrice{
  margin-top: -10px;
}
.productButtonsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productButtons{
  border-radius: 20%;
  padding: 10px;
  margin: 10px;
  border: solid 2px rgb(104, 182, 188);
  font-size: small;
}

.addToCartButton{
  border-radius: 20px;
  background-color: rgb(104, 182, 188);
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 13px;
  height: 35px;
  border: 2px solid rgb(155, 220, 226);
}

.addToCartButton:hover{
  border-radius: 20px;
  background-color: white;
  color: rgb(104, 182, 188);
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 13px;
  height: 35px;
  border: 2px solid rgb(155, 220, 226);
  transition: 400ms;
}

.cartContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color:#FFF;
  padding: 20px;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  max-width: 70%;
  margin-bottom: 1em;
  height: 100dvh;
}

.cartButton{
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  background-color: rgb(104, 182, 188);
  color: white;
  
}

.cartTotal{
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
}

.singleOrderContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border: 2px solid rgb(104, 182, 188);
  padding: 3em;
  min-width: 50dvw;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.25);
  margin-bottom: 2em;

}

@media (max-width: 790px ) {

  .cartHeaders {
    position: absolute;
    right: 1000%;
  }

  .orderHeaders {
    position: absolute;
    right: 1000%;
  }

  .cartContainer img {
    max-width: 4em;
    max-height: 4em;
  }

  .cartContainer {
    max-width: 100%;
  }

  .singularCartProduct {
    flex-direction: column;
    gap: 2em;
    position: relative;
  }
  .cart-delete-btn-container {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
  }

  .cartButtons {
    flex-direction: column;

  }
  .cartButton {
    padding: 5px;
    width: 60%;
    margin: auto;
  }
  .cartTotal {
    text-align: center;
    margin: 0;
  }

  .message-btn-container {
    justify-content: center;
  }

  .orderImgNameQuantityPrice {
    flex-direction: column;
  }

  .orderProductName {
    margin: 0;
  }

  .orderProductQuantity, .orderProductPrice {
    position: absolute;
    right: 1000%
  }

  .singleOrderContainer {
    margin: 1em;
    min-width: 90%;
  }

  .orderImgNameQuantityPrice img {
    width: 100px;
  }

  .accountImg {
    width: 100px;
  }
}

.emailInput{
  margin-right: 10px;
  margin-left: 5px;
}

.checkoutContainer{
  background-color:#FFF;
  padding: 20px;
  box-shadow: 0 0 4px rgb(75, 132, 136);
  width: 1000px;
  margin-bottom: 60px;
}

.completed-order-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cartHeaders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px rgb(104, 182, 188);
}

.cartHeader{
  display: flex;
  justify-content: center;
  margin: 1em;
  font-weight: bold;
  color: rgb(104, 182, 188);
}

.emptyCart{
  color: rgb(75, 132, 136);
  text-align: center;
  font-weight: bold;
}

.orderDetailsHeader{
  font-size: 20px;
  margin: 2em;
  text-align: center;
  color: rgb(75, 132, 136);
  font-size: 1.5em;
  font-weight: bold;
}

.checkoutInput{
  margin-right: 10px;
  margin-left: 5px;
}

.nameAndPhoto{
  display: flex;
  align-items: center;
  gap: .5em;
  min-width: 10em;
  max-width: 10em;
}

.cartProducts {
  display: flex;
  flex-direction:column;
  margin-bottom: 20px;
  /* padding: 18px 0px; */
  width: 100%;
}

.singularCartProduct{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: solid 1px rgb(104, 182, 188);
  align-items: center;
  padding: 1em 0;
}
.cartProductName {
  display: flex;

  color: rgb(98, 98, 98);
  font-size: 18px;
}

.productName{
  margin-top: 12px;
  font-weight: bold;
  font-size: large;
  color: rgb(104, 182, 188)
}

.productPrice{
  margin-top: 12px;
  font-weight: bold;
  font-size: 18px;
}

.cartProductPrice {
  color: rgb(98, 98, 98);
  display: flex;
}

.productQuantity{
  border-radius: 25px;
  border-color: rgb(75, 132, 136);
  padding: .5em;
  font-size: 1em;
  color:rgb(98, 98, 98);
}

.cartButtons{
  display: flex;
  justify-content: right;
  padding-bottom: 12px;
  gap: 1em
}



.cartButton:hover{
  background-color: rgba(104, 182, 188, 0.389);
  border: 2px solid rgb(104, 182, 188);
  color: rgb(134, 134, 134);
  background-color: white;
  transition: 300ms;
}

.cartDeleteButton{
  cursor: pointer;
  transition: 150ms;

}

.cart-delete-btn-container {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.cartDeleteButton:hover{
  /* border: 1px solid rgb(98, 98, 98); */
  border-radius: 25%;
  background-color: rgb(201, 201, 201);
}

.pricePerQuantity{
  font-size: 13px;
}

.inCartLabel{
  margin-top: 12px;
  color: rgb(104, 182, 188);
  border: 2px solid rgb(104, 182, 188);
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 50px;
}

.adminHeader{
  color: rgb(104, 182, 188);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.addStickerTitle {
  color: rgb(104, 182, 188);
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgb(104, 182, 188);
  padding: 12px;
  border-radius: 12px;
  margin-top: 15px;
}

.addStickerTitle:hover {
  color:white;
  background-color: rgb(104, 182, 188);
}

.contactTitle {
  color: rgb(104, 182, 188);
  font-weight: bold;
}

.usersTitle {
  color: rgb(104, 182, 188);
  margin-top: auto;
  font-weight: bold;
}

.adminUserContainer{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.allOrderContainer{
  border: 2px solid rgba(104, 182, 188, 0.636);
  padding: 25px;
}



.orderProductImgName{
  display: flex;
  align-items: center;
}

.orderImgNameQuantityPrice{
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
  margin-bottom: 2em;
}

.orderHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px rgb(104, 182, 188);
  margin-bottom: 20px;
}

.orderProductPrice{
  margin-right: 18px;
}

.orderProductName, .orderProductQuantity, .orderProductPrice {
  margin: 0;
}


.orderHeaders{
  font-weight: bold;
  color: rgb(104, 182, 188);
  font-size: 20px;
}

.orderTotal{
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.shippingAndPaymentDiv{
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 20px;
}

.shippingHeader{
  margin-bottom: 12px;
  color: rgb(104, 182, 188);
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.contact-us-btn {
  border-radius: 25px;
  padding: 10px 25px;
  border: 2px solid white;
  background-color: rgb(104, 182, 188);
  color: white;
}

.contact-us-btn:hover {
  background-color: rgba(104, 182, 188, 0.389);
  border: 2px solid rgb(104, 182, 188);
  color: rgb(134, 134, 134);
  background-color: white;
  transition: 400ms;
}

label {
  color: rgb(75, 132, 136);
}

#form_message {
  resize: none;
  margin-bottom: 1em;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  gap: 3em;
  height: 4em;
  background-color: rgb(82, 194, 187);
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
}

.social-icons {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2em;
}

.social-icons li {
  cursor: pointer;
}

.container {
  height: 100dvh;
}

#payment-form {
  height: 100dvh;
  width: 50dvw;
}

.payment-container {
  display: flex;
  justify-content: center;
}

.shippingContainer {
  display: flex;
  justify-content: center;
  height: 100dvh;

}

.shippingForm {
  display: flex;
  flex-direction: column;
  width: 50dvh;
}

.shippingForm input[type=text] {
  margin-bottom: .5em;
  padding: .5em;
  border: 1px solid rgb(104, 182, 188);
  outline: none;
  border-radius: 10px;
  transition: 150ms;
}

.shippingForm input[type=text]:focus {
  border: 3px solid rgb(93, 189, 196);
  padding: .75em;
}

.shippingForm label {
  margin-bottom: .25em;
}

.shippingForm input[type=submit] {
  margin-top: 1em;
}

.shippingForm div {
  justify-content: center;
}

#submit {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 1em;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  background-color: rgb(104, 182, 188);
  color: white;
  width: 50%;
}

#submit:hover {
  background-color: rgba(104, 182, 188, 0.389);
  border: 2px solid rgb(104, 182, 188);
  color: rgb(134, 134, 134);
  background-color: white;
  transition: 400ms;
}
